* { 
    font-family: 'Space Mono', sans-serif;
}

:root {
    scroll-behavior: smooth;

/* Primary */
--strong-cyan: hsl(172, 67%, 45%);

/* Neutral */
--very-dark-cyan: hsl(183, 100%, 15%);
--dark-grayish-cyan: hsl(186, 14%, 43%);
--dark-grayish-cyan: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--light-grayish-cyan2: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    min-height: 100vh;
    padding: 30px;
}
@media (max-width: 1200px) {
    :root {
      --h1: 32px;
      --h2: 22px;
    }
  }
  
  @media (max-width: 500px) {
    :root {
      --h1: 22px;
      --h2: 18px;
      --body: 12px;
      --body-small: 10px;
    }
  }